<div class="form-center">
Edit Listing

<%= form_for @listing do |form| %>
    <%= render partial: '/listings/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Edit", data: { confirm: 'Confirm to edit?'} %>
    </div>
    <%= link_to "Cancel Edit", listings_path%>
<% end %>
</div>