
<div class="form-center">
<h3>New Listing</h3>

<div class="form-group">
<%= form_for @listing do |form| %>
  <%= render partial: '/listings/form', object: form %>

 
<div class="submit-field">
      <%= form.submit "Submit", data: { confirm: 'Confirm to create?'} %>
    </div>
<%end%>
</div>
</div>
